<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="lib/angular-locale_pt-br.js"></script>
	<script src="lib/angular-messages.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script type="text/javascript" src="js/controllers/NovoContatoCtrl.js"></script>	
	<script type="text/javascript" src="js/services/contatosAPIService.js"></script>
	<script type="text/javascript" src="js/services/operadorasAPIService.js"></script>
	<script type="text/javascript" src="js/services/serialGeneratorService.js"></script>
	<script type="text/javascript" src="js/config/serialGeneratorConfig.js"></script>
	<script type="text/javascript" src="js/config/routeConfig.js"></script>
	<script type="text/javascript" src="js/value/configValue.js"></script>
	<script type="text/javascript" src="js/filters/nameFilter.js"></script>
	<script type="text/javascript" src="js/filters/ellipsisFilter.js"></script>
	<script type="text/javascript" src="js/directives/uiAlertDirective.js"></script>
	<script type="text/javascript" src="js/directives/uiDateDirective.js"></script>
	<script type="text/javascript" src="js/directives/uiAccordionDirective.js"></script>
</head>
<body>	
	<div ng-view></div>
	<div>
		Criado por Victor Hugo
	</div>			
</body>
</html>